.NavBar {
    height: 100px;
}

.links {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.Logo-link {
    display: inline-block;
    list-style-type: none;
    margin-left: 40px;
}

.Logo {
    height: 100px;
    width: auto;
}

.nav-link {
    font-size: 15px;
    list-style-type: none;
    font-family: var(--font-primary);
    transition: background-color 0.5s ease-out;
}

.NavBar-link {
    display: block;
    line-height: 3em;
    padding: 1.81em 3em;
    text-decoration: none;
    color: #272525;
}


.NavBar-link-signup {
    display: block;
    line-height: 3em;
    padding: 1.81em 3em;
    text-decoration: none;
    color: var(--accent-color);
}

.nav-link:hover {
    background: var(--main-color);
    border-bottom: 3px solid var(--accent-color);
    font-weight: 500;
}

nav ul li:first-child {
    margin-right: auto;
}

