.NavBar {
    margin: 0;
    overflow: hidden;
}

.links {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.Logo-link {
    display: inline-block;
    list-style-type: none;
    margin-left: 40px;
}

.Logo {
    height: 80px;
    width: 80px;
}

.nav-link {
    font-size: 15px;
    list-style-type: none;
}

.NavBar-link {
    display: block;
    line-height: 3em;
    padding: 1em 3em;
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    background: grey;
    border-bottom: 1px solid red;
}

nav ul li:first-child {
    margin-right: auto;
}

