
.t {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.IndexHeader {
    font-family: var(--font-primary);
    font-size: 60px;
    text-align: center;
}

.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    width: 160px;
}

.signup-link {
    text-decoration: none;
}


.timg {
    max-width: 100%;
    height: auto;
}

.m {
    width: 100vh;
    height: 500px;
    margin: 40px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    background-image: url('../../img/vineyard1.jpg');
    background-position: center;
    background-size: cover;
}

.b-index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    font-family: var(--font-primary);
}

.headline-bottom {
    font-size: 2em;
    text-align: center
}

.text-content {
    font-size: 1em;
    padding: 0px 160px;
}

@media screen and (max-width: 945px) {
    .IndexHeader {
        font-size: 45px;
    }

    .headline-bottom {
        font-size: 1.75em;
    }

    .text-content {
        font-size: 0.95em;
    }
}

@media screen and (max-width: 860px) {
    .m {
        width: 80vh;
        height: 375px;
    }

    .headline-bottom {
        font-size: 1.65em;
    }

    .text-content {
        padding: 0px 120px;
    }
}

@media screen and (max-width: 770px) {
    .headline-bottom {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 700px) {
    
    .IndexHeader {
        font-size: 34px;
    }
    
    .Button {
        font-size: 14px;
        height: 30px;
        width: 120px;
    }

    .m {
        width: 60vh;
        height: 281px;
    }

    .headline-bottom {
        font-size: 1.25em;
    }

    .text-content {
        font-size: 0.8em;
        padding: 0px 90px;
    }
}

@media screen and (max-width: 600px) {
    .headline-bottom {
        font-size: 1.10em;
    }
}

@media screen and (max-width: 530px) {
    .IndexHeader {
        font-size: 26px;
    }

    .Button {
        font-size: 10px;
        height: 22px;
        width: 90px;
    }

    .m {
        width: 50vh;
        height: 210px;
    }
    
    .headline-bottom {
        font-size: 0.9em;
    }

    .text-content {
        font-size: 0.75em;
        padding: 0px 68px;
    }
}