.BookCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
    transition: 0.3s opacity ease-in-out;
}

.BookCard:hover {
    opacity: 0.90;
}

.BookCard > img {
    border-radius: 4px;
    margin: 4px;
}
