.Footer {
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    background-color: var(--main-theme);
    font-family: var(--font-primary);
    font-size: 10px;
  }