.App {
  text-align: center;
}

.App-header {
  position: fixed;
  width: 100%;
  font-size: 40px;
  height: 150px;
  border-bottom: 1px dashed red;
  background: grey;
}

.navbar {
  display: flex;
  align-content: center;
}

.nav-logo {
  height: 125px;
  width: 125px;
  margin: 10px 10px 20px 40px;
}

.App-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  border-top: 1px dashed red;
  background: grey;
  font-size: 14px;
}