.ShowHeader {
    font-family: var(--font-primary);
    font-size: 60px;
    text-align: center;
}

.ShowCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}